
@{
    ViewData["Title"] = "Imprint";
}

<h1>Imprint</h1>
<br />
<div class="row">
    <div class="col-12">
        <p>FOTEC Forschungs- und Technologietransfer GmbH</p>
        <p>Viktor Kaplan-Strasse 2</p>
        <p>2700 Wiener Neustadt</p>
        <p>Österreich</p>
        <p>Tel.: +43 2622 90333</p>
        <p>Fax: +43 2622 90333 99</p>
        <p>E-Mail: office@fotec.at</p>
        <p>Geschäftsführung: DI (FH) Helmut Loibl MSc</p>
        <p>Firmenbuchnummer: 176224d</p>
        <p>Firmenbuchgericht: Handelsgericht Wiener Neustadt</p>
        <p>UID-Nummer: ATU46032608</p>
    </div>
</div>

